# from github's template
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# for node modules
node_modules/

# for files saving directory


#for emacs' temp file
*.*~