<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
</head>

<body>
	<div>
		<h1><%= title%></h1>
		<input id='speech' type='text' x-webkit-speech speech>
	</div>


	<script type="text/javascript" src='public/js/lib/jquery-1.9.0-min.js'></script>
	<script type="text/javascript" src='public/js/index.js'></script>
</body>

</html>